* {
    margin: 0;
    padding: 0;

    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;

    box-sizing: border-box;
}

:root {
    --main-color: #f8f7f3;
    --secondary-color: #1a24fb;
    --main-font-family: "Overpass", sans-serif;
    --main-font-optical-sizing: auto;
    --main-font-weight: normal; 
    --main-font-style: normal;

    --secondary-font-family: "Montserrat", sans-serif;
    --secondary-font-optical-sizing: auto;
    --secondary-font-weight: normal; 
    --secondary-font-style: normal;
}

